.idea
*.pyc
playlist/logic/ices.log
playlist/logic/pid
g2.log
playlist/ftpd.error.log
playlist/ftpd.lines.log
playlist/ftpd.log
sql.log
dump_*
playlist/logic/ices.cue
.Python
pip-selfcheck.json
other_settings.py
#bin/
#include/
#lib/
#share/
ftpd.log
nohup.out
sc_serv/nohup.out
.DS_Store
sc_serv/sc_serv_8000.pid

