[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
mutagen = "*"
pyftpdlib = "*"
uwsgi = "*"
validators = "*"

[dev-packages]

[requires]
python_version = "3.8"
