asgiref==3.6.0; python_version >= '3.6'
backports.zoneinfo==0.2.1; python_version < '3.9'
django==4.2.2
mutagen==1.45.1
mysqlclient==2.1.0
pyftpdlib==1.5.6
sqlparse==0.4.4; python_version >= '3.5'
uwsgi==2.0.23