{% extends "master.html" %}

{% block title %}Admin - GBS-FM{% endblock %}

{% block main %}
  <div class="playlist">
    <p><a href="{% url 'start_metadataupdater' %}" class="button">Start metadata updater</a></p> This is the process that makes sure that the metadata in the stream matches the metadata in the database
    <p><a href="{% url 'stop_metadataupdater' %}" class="button">Stop metadata updater</a></p> If someone is livestreaming, use this.
    <p><a href="{% url 'start_listeners' %}" class="button">Start listener updater</a></p> This is the process that makes sure that the listener count on the website updates
    <p><a href="{% url 'start_remaining' %}" class="button">Start remaining time updater</a></p> This is the process that makes sure that the progress bar in the bottom right updates
    <p><a href="{% url 'start_jingleplayer' %}" class="button">Start Jingleplayer</a></p> This is the process that plays a jingle at the top of the hour. It runs at :55, and the jingle is played between :00 and :10 whenever there is a gap between dongs.
    <hr>
    <p><a href="{% url 'restart_linkbot' %}" class="button">Restart Shoes_Linkbot (Discord/IRC)</a></p>
    <p><a href="{% url 'restart_socks' %}" class="button">Restart Socks (IRC)</a></p>
    <p><a href="{% url 'restart_shoes' %}" class="button">Restart Shoes (Discord)</a></p>
    <p>If/when you restart one of the bots, please give it at least a minute before trying again.
    <hr>
    <p><a href="{% url 'restart_ftp' %}" class="button">Restarts the FTP-server</a></p>
    <p>After restarting, give it a minute or so.
    <hr>
    <p><a href="{% url 'restart_stream' %}" class="button">Restarts the stream</a></p>
    <p>If you hear bees, the stream is technically still working, but can't for some reason get new song. Restarting may help it.
    <hr>
    <p> Valid fileformats are MP3, MP4, M4A, FLAC and OGG
    <hr>

    <form action='{% url 'g2admin' %}' method="POST">
    {% csrf_token %}
    <table class="playlist">
    {{msgform.as_table}}
    </table>
    <input type="submit" value="Update Message" />
  </div>

{% endblock %}
