{% extends "master.html" %}

{% block title %}Artists - GBS-FM{% endblock %}
  
  {% load filters %}
  
{% block main %}
  <div class="artists">
  <div class="page-links">
  <ol class="alphabetical">
      <li {% if letter == "123" %}class="chosen"{% endif %}><a href="{% url 'listartists' "123" "1" %}">#</a></li>
      <li {% if letter == "a" %}class="chosen"{% endif %}><a href="{% url 'listartists' "A" "1" %}">A</a></li>
      <li {% if letter == "b" %}class="chosen"{% endif %}><a href="{% url 'listartists' "B" "1" %}">B</a></li>
      <li {% if letter == "c" %}class="chosen"{% endif %}><a href="{% url 'listartists' "C" "1" %}">C</a></li>
      <li {% if letter == "d" %}class="chosen"{% endif %}><a href="{% url 'listartists' "D" "1" %}">D</a></li>
      <li {% if letter == "e" %}class="chosen"{% endif %}><a href="{% url 'listartists' "E" "1" %}">E</a></li>
      <li {% if letter == "f" %}class="chosen"{% endif %}><a href="{% url 'listartists' "F" "1" %}">F</a></li>
      <li {% if letter == "g" %}class="chosen"{% endif %}><a href="{% url 'listartists' "G" "1" %}">G</a></li>
      <li {% if letter == "h" %}class="chosen"{% endif %}><a href="{% url 'listartists' "H" "1" %}">H</a></li>
      <li {% if letter == "i" %}class="chosen"{% endif %}><a href="{% url 'listartists' "I" "1" %}">I</a></li>
      <li {% if letter == "j" %}class="chosen"{% endif %}><a href="{% url 'listartists' "J" "1" %}">J</a></li>
      <li {% if letter == "k" %}class="chosen"{% endif %}><a href="{% url 'listartists' "K" "1" %}">K</a></li>
      <li {% if letter == "l" %}class="chosen"{% endif %}><a href="{% url 'listartists' "L" "1" %}">L</a></li>
      <li {% if letter == "m" %}class="chosen"{% endif %}><a href="{% url 'listartists' "M" "1" %}">M</a></li>
      <li {% if letter == "n" %}class="chosen"{% endif %}><a href="{% url 'listartists' "N" "1" %}">N</a></li>
      <li {% if letter == "o" %}class="chosen"{% endif %}><a href="{% url 'listartists' "O" "1" %}">O</a></li>
      <li {% if letter == "p" %}class="chosen"{% endif %}><a href="{% url 'listartists' "P" "1" %}">P</a></li>
      <li {% if letter == "q" %}class="chosen"{% endif %}><a href="{% url 'listartists' "Q" "1" %}">Q</a></li>
      <li {% if letter == "r" %}class="chosen"{% endif %}><a href="{% url 'listartists' "R" "1" %}">R</a></li>
      <li {% if letter == "s" %}class="chosen"{% endif %}><a href="{% url 'listartists' "S" "1" %}">S</a></li>
      <li {% if letter == "t" %}class="chosen"{% endif %}><a href="{% url 'listartists' "T" "1" %}">T</a></li>
      <li {% if letter == "u" %}class="chosen"{% endif %}><a href="{% url 'listartists' "U" "1" %}">U</a></li>
      <li {% if letter == "v" %}class="chosen"{% endif %}><a href="{% url 'listartists' "V" "1" %}">V</a></li>
      <li {% if letter == "w" %}class="chosen"{% endif %}><a href="{% url 'listartists' "W" "1" %}">W</a></li>
      <li {% if letter == "x" %}class="chosen"{% endif %}><a href="{% url 'listartists' "X" "1" %}">X</a></li>
      <li {% if letter == "y" %}class="chosen"{% endif %}><a href="{% url 'listartists' "Y" "1" %}">Y</a></li>
      <li {% if letter == "z" %}class="chosen"{% endif %}><a href="{% url 'listartists' "Z" "1" %}">Z</a></li>
    </ol>
    {% if artists.has_previous %}
      <a href="{% url 'listartists' letter artists.previous_page_number %}">previous</a>
    {% endif %}
    Artists: page {{ artists.number }} of {{ artists.paginator.num_pages }}
    {% if artists.has_next %}
      <a href="{% url 'listartists' letter artists.next_page_number %}">next</a>
    {% endif %}
  </div>
    <ul>
      {% for artist in artists.object_list %}
        <li><a href="{% url 'artist' artist.id %}"> {{ artist.name }}</a> ({{artist.song_count}} dong{{artist.song_count|pluralize}})</li>
      {% endfor %}
    </ul>

  </div>
 
{% endblock %} 