{% extends "master.html" %}

{% block title %}Stats - GBS-FM{% endblock %}
  
{% block main %}
  <div class="playlist">

  {% if populardongs %}
  <p><span style="font-weight: bold">Top 10 dongs of all time:</span></p>
  <ol>
    {% for dong in populardongs %}
      <li><a href="/song/{{dong.song_id}}">{{dong.artist}} - {{dong.song}}</a>: {{dong.count}} plays</li>
    {% endfor %}
  </ol>
  {% endif %}

  {% if popularadders %}
  <p><span style="font-weight: bold">Top 10 adders of all time:</span></p>
  <ol>
    {% for adder in popularadders %}
      <li><a href="/user/{{adder.adder_id}}">{{adder.username}}</a>: {{adder.count}} adds</li>
    {% endfor %}
  </ol>
  {% endif %}

  {% if popularadders30 %}
  <p><span style="font-weight: bold">Top 10 adders last 30 days:</span></p>
  <ol>
    {% for adder in popularadders30 %}
      <li><a href="/user/{{adder.adder_id}}">{{adder.username}}</a>: {{adder.count}} adds</li>
    {% endfor %}
  </ol>
  {% endif %}

  {% if popularuploaders %}
  <p><span style="font-weight: bold">Top 10 uploaders of all time:</span></p>
  <ol>
    {% for uploader in popularuploaders %}
      <li><a href="/user/{{uploader.uploader_id}}">{{uploader.username}}</a>: {{uploader.count}} uploads</li>
    {% endfor %}
  </ol>
  {% endif %}

  {% if popularuploaders30 %}
  <p><span style="font-weight: bold">Top 10 uploaders last 30 days:</span></p>
  <ol>
    {% for uploader in popularuploaders30 %}
      <li><a href="/user/{{uploader.uploader_id}}">{{uploader.username}}</a>: {{uploader.count}} uploads</li>
    {% endfor %}
  </ol>
  {% endif %}

  {% comment %}
  <p><span class="bold">Dongs in database:</span> {{totaldongs}} </p>
  <p><span class="bold">Additions to the playlist:</span> {{totaladds}} </p>
  <p><span class="bold">Unplayed dongs:</span> {{unplayeddongs}} </p>
  <p><span class="bold">Registered users:</span> {{totalusers}} </p>


  {% if populardongs %}
  <p>Most added dongs:</p>
  <ul>
    {% for dong in populardongs %}
      <li>{{dong}} - {{dong.totaladds}}</li>
    {% endfor %}
  </ul>
  <p>
  {% endif %}

  {% if votedhidongs %}
  <p>Highest-rated dongs:</p>
  <ul>
    {% for dong in votedhidongs %}
      <li>{{dong}} - {{dong.avgscore}}</li>
    {% endfor %}
  </ul>
  <p>
  {% endif %}

  {% if votedlodongs %}
  <p>Lowest-rated dongs:</p>
  <ul>
    {% for dong in votedlodongs %}
      <li>{{dong}} - {{dong.avgscore}}</li>
    {% endfor %}
  </ul>
  <p>
  {% endif %}

  {% if recentuploads %}
  <p>Last ten uploads:</p>
  <ul>
    {% for upload in recentuploads %}
      <li><a href="{% url 'song' upload.id %}">{{upload}}</a> by {{upload.uploader.username}} ({{upload.add_date|date:"D jS M Y \a\t g:i:s A"}})</li>
    {% endfor %}
  </ul>
  <p>
  {% endif %}

  {% endcomment %}
  </div>


{% endblock %}
